<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Example mongodb app</title>
    <link rel="stylesheet"
    href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css"
    type="text/css" media="screen" />
    <style>.content {padding-top: 80px;} </style>
  </head>

  <body>
    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
            <a href="/" class="brand"> Example App</a><small> starring
            flask, mongoengine, and heroku</small>
          </h2>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
