<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{%- block title -%}MMDGOT{%- endblock -%}</title>
    <link rel="stylesheet"    href="/static/bootstrap/css/bootstrap.min.css"
    type="text/css" media="screen" />
    <style src="/static/bootstrap/js/bootstrap.min.js">
    <style>.content {padding-top: 80px;} </style>
  </head>

  <body>
    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
            <a href="/" class="brand"> MMDGOT</a>
          </h2>
          <h3>A Massively Multiplayer Distributed
            Game of Telephone powered by Twilio</h3>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
